<!-- Define la estructura visual y el diseño global de la pagina -->
@inherits LayoutComponentBase
@inject IServicioSesion ServisioSesion
<div class="page">
    
    @if(ServisioSesion.EstaLogueado){
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
