html, body {
    margin: 0;
    min-height: 100vh;
    background-color: #110101;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: #180000;
}

.sidebar {
    background: linear-gradient(to bottom, #240000, #c70404);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
