html[b-uopeu9fc6a], body[b-uopeu9fc6a] {
    margin: 0;
    min-height: 100vh;
    background-color: #110101;
}

.page[b-uopeu9fc6a] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-uopeu9fc6a] {
    flex: 1;
    background-color: #180000;
}

.sidebar[b-uopeu9fc6a] {
    background: linear-gradient(to bottom, #240000, #c70404);
}

@media (min-width: 641px) {
    .page[b-uopeu9fc6a] {
        flex-direction: row;
    }

    .sidebar[b-uopeu9fc6a] {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
