/* _content/CentroEventos.UI/Components/Layout/MainLayout.razor.rz.scp.css */
html[b-uopeu9fc6a], body[b-uopeu9fc6a] {
    margin: 0;
    min-height: 100vh;
    background-color: #110101;
}

.page[b-uopeu9fc6a] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-uopeu9fc6a] {
    flex: 1;
    background-color: #180000;
}

.sidebar[b-uopeu9fc6a] {
    background: linear-gradient(to bottom, #240000, #c70404);
}

@media (min-width: 641px) {
    .page[b-uopeu9fc6a] {
        flex-direction: row;
    }

    .sidebar[b-uopeu9fc6a] {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
/* _content/CentroEventos.UI/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fpokdk2a72] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-fpokdk2a72] {
    background-color: rgba(255, 255, 255, 0.5);
}


.top-row[b-fpokdk2a72] {
    height: 3.5rem;
}

.navbar-brand[b-fpokdk2a72] {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: -14px;
    color: white;
}

.bi[b-fpokdk2a72] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-fpokdk2a72] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-fpokdk2a72] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-fpokdk2a72] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-fpokdk2a72] {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.2rem 0;
    background-color: #070707d2;
    color: #e0e0e0;
    border-radius: 4px;
    font-size: 0.95rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
}


.nav-item:empty[b-fpokdk2a72] {
    display: none;
}


.nav-item[b-fpokdk2a72]  .nav-link {
    color: #f8f8f8;
    background: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
    margin: 5px 0;
}

.nav-item[b-fpokdk2a72]  .nav-link:hover {
    background-color: #333333;
}
.nav-item[b-fpokdk2a72]  .nav-link:active {
    background-color: #680303;
}

.nav-item[b-fpokdk2a72]  a.active {
    background-color: #860000d0;
    color: white;
}


.nav-scrollable[b-fpokdk2a72] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-fpokdk2a72] {
    display: block;
}

.menu-btn[b-fpokdk2a72] {
    background-color: #860000d0; 
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    text-align: left;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    margin: 0.2rem 0; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: .5s;
}

.menu-btn:hover[b-fpokdk2a72] {
    background-color: rgba(102, 10, 10, 0.555);
    transform: scale(1.04);
}


.cerrarSesion[b-fpokdk2a72]{
    display: block;
    margin: 1.5rem auto; 
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.cerrarSesion:hover[b-fpokdk2a72]{
    background-color: #c82333;
    cursor: pointer;
}



@media (min-width: 641px) {
    .navbar-toggler[b-fpokdk2a72] {
        display: none;
    }

    .nav-scrollable[b-fpokdk2a72] {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/* _content/CentroEventos.UI/Components/Pages/DialogoConfirmacion.razor.rz.scp.css */
.dialogo-contenedor[b-6i4vi5b2hz] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;   
    justify-content: center;
 }

.dialogo-contenido[b-6i4vi5b2hz]{
    padding: 20px;
    background-color: white;   
}
/* _content/CentroEventos.UI/Components/Pages/Index.razor.rz.scp.css */
.login-layout[b-8onls4bymz]{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.contenedor_principal[b-8onls4bymz]{
    display: flex;
    width: 60%;
    height: auto;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #240505;
    box-shadow: 2px 5px 8px 10px rgba(255, 255, 255, 0.1);
    border: 2px solid #8b8b8b;
    border-radius: 30px
}

.login-layout .login-info[b-8onls4bymz]{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;

}

.login-contenedor[b-8onls4bymz]{
    display: flex;
    padding: 60px 20px 60px 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    background: #bebebe;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.contenedor[b-8onls4bymz]{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagenes */
.login-layout .contenedor-img[b-8onls4bymz] {
    position: relative;
    width: 80%;
    max-width: 550px;
    aspect-ratio: 1/1;
    margin: 20px auto 0;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.login-layout .contenedor-img .imagen-carrusel[b-8onls4bymz] {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.login-layout .contenedor-img .flecha[b-8onls4bymz] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    background: rgba(0,0,0,0.4);
    color: #fff;
    cursor: pointer;
    user-select: none;
    opacity: .4;
    transition-duration: .6s;
}

.login-layout .contenedor-img .izquierda b[b-8onls4bymz]{
    display: block;
    margin-top: -13px;
    margin-left: -5px;
}

.login-layout .contenedor-img .derecha b[b-8onls4bymz]{
    display: block;
    margin-top: -13px;
    margin-right: -5px;
}

.login-layout .contenedor-img .flecha.izquierda[b-8onls4bymz] {
    left: 4px;
}

.login-layout .contenedor-img .flecha.derecha[b-8onls4bymz] {
    right: 4px;
}

.login-layout .contenedor-img .flecha:hover[b-8onls4bymz] {
    opacity: 1;
    background: rgba(0,0,0,0.6);
}





.login[b-8onls4bymz]{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.login input[b-8onls4bymz] {
    padding: 10px;
    font-size: 16px;
    border: 0.1px solid #bbb;
    border-radius: 5px;
}

.login button[b-8onls4bymz]{
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.login button:hover[b-8onls4bymz]{
    background-color: #313131;
    transform: scale(1.06);
}

.login .volverAtras[b-8onls4bymz]{
    background-color: #380101;
    color: #ffffff;
}

.login .volverAtras:hover[b-8onls4bymz]{
    background: #750101;
}



/* Para pantallas mas chicas*/
@media (max-width: 1240px) {
    .contenedor_principal[b-8onls4bymz] {
        flex-direction: column;       
        align-items: center;          
        padding: 20px;                
    }

    .contenedor-img[b-8onls4bymz]{
        display: none;
    }

    .login-info h1[b-8onls4bymz]{
        font-size: 30px;
    }

    .login-info[b-8onls4bymz], .login-contenedor[b-8onls4bymz] {
        width: auto;        
        max-width: 550px;    
        margin-bottom: 30px;
    }

    .login-contenedor[b-8onls4bymz] {
        display: flex;            
        align-items: center;     
        justify-content: center;  
    }

    .login[b-8onls4bymz] {
        width: auto;         
        min-width: 300px;    
    }

    .login input[b-8onls4bymz], .login button[b-8onls4bymz] {
        width: auto;         
        min-width: 250px;    
        flex-shrink: 0;      
    }

    .login[b-8onls4bymz] {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    
}

@media (max-width: 600px) {
    .contenedor_principal[b-8onls4bymz]{
        width: 95%;
    }

    .login-contenedor[b-8onls4bymz]{
        padding: 30px 2px 30px 2px;
    }
}
