@page "/reservas/baja"
@rendermode InteractiveServer
@inject ReservaBajaUseCase bajaReserva
@inject IServicioSesion servicioSesion

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>

@if (_mensajeError.Any())
{
    <ul class="alerta-error">
        @foreach (var error in _mensajeError)
        {
            <li>@error</li>
        }
    </ul>
}

@if (!string.IsNullOrEmpty(_mensajeExito))
{
  <div class="alert alerta-exito">@_mensajeExito</div>
}


@if(poseePermiso){
    <div class="contenedor-buscar">
        <h2 class="buscar-titulo">Baja Reserva</h2>
        <div class="buscar-form">
            <label class="buscar-label">Ingrese la Reserva a Eliminar</label>
            <input type="number" class="buscar-input" @bind="IdBusqueda" />
        </div>
        <button class="buscar-boton" @onclick="BuscarPersona">Buscar Reserva</button>
    </div>
}


@code {
    private int? IdBusqueda;
    private Reserva? reservaParaBaja;
    private bool poseePermiso;
    private List<string> _mensajeError = new();
    private string _mensajeExito = "";
    private DialogoConfirmacion dialogo = null!;

    protected override void OnInitialized()
    {
        if(servicioSesion.UsuarioActual == null)
            _mensajeError.Add("Debe Iniciar sesion.");
    
        if(servicioSesion.UsuarioActual != null)
            poseePermiso = servicioSesion.UsuarioActual.Permisos.Contains(CentroEventos.Aplicacion.Enums.Permiso.ReservaBaja);

        if (!poseePermiso)
            _mensajeError.Add("No posee permiso para eliminar Eventos Deportivos.");
    }

    private void BuscarPersona()
    {
        _mensajeError.Clear();
        _mensajeExito = "";
        reservaParaBaja = null;

        if (!IdBusqueda.HasValue)
        {
            _mensajeError.Add("Debe ingresar un ID numérico válido.");
            return;
        }

        try
        {
            // Valida existencia y los permisos
            reservaParaBaja = bajaReserva.ObtenerParaBaja(IdBusqueda.Value);

            // Si la persona existe muestro para que confirme si se desea eliminar 
            dialogo.SetMensaje($"¿Desea eliminar la Reserva con Id {reservaParaBaja.Id}?");
            dialogo.Mostrar();
        }
        catch (CentroEventos.Aplicacion.Excepciones.EntidadNotFoundException)
        {
            _mensajeError.Add($"No existe la Reserva con ID {IdBusqueda}.");
        }
        catch (CentroEventos.Aplicacion.Excepciones.FalloAutorizacionException ex)
        {
            _mensajeError.Add(ex.Message);
        }
    }

    private void Eliminar()
    {
        _mensajeError.Clear();
        _mensajeExito = "";
        if (!IdBusqueda.HasValue)
        {
          _mensajeError.Add("ID invalido.");
          return;
        }
        try
        {
            // Ejecuta la baja
            bajaReserva.Ejecutar(IdBusqueda.Value);
            _mensajeExito = $"Reserva con ID {IdBusqueda} eliminado correctamente.";
        }
        catch (CentroEventos.Aplicacion.Excepciones.OperacionInvalidaException ex)
        {
            _mensajeError.Add(ex.Message);
        }
        catch (CentroEventos.Aplicacion.Excepciones.EntidadNotFoundException ex)
        {
            _mensajeError.Add(ex.Message);
        }
        catch (CentroEventos.Aplicacion.Excepciones.FalloAutorizacionException ex)
        {
            _mensajeError.Add(ex.Message);
        }
        catch (Exception ex)
        {
            _mensajeError.Add(ex.Message);
        }
    }
}
